<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!-- store file paths for knownshares.json and users.json here -->
    <add key="knownsharesJson_Path" value="\\UEMF.local\NETLOGON\DriveMaps\"/>
    <add key="usersJson_Path" value="\\UEMF.local\NETLOGON\DriveMaps\"/>
  </appSettings>
</configuration>
